<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="text-center p-0 mt-3 mb-2 col-md-4 col-sm-6">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
          <h2 id="heading">Change Password</h2>
          <form id="msform">
            <fieldset>
              <div class="form-card">
               
                <label class="fieldlabels">Old Password:</label>
                <input
                  type="password"
                  name="oldpassword"
                  placeholder="Old Password"
                  #oldpassword
                />
              
              <label class="fieldlabels">New Password:</label>
                <input
                  type="password"
                  name="newpassword"
                  placeholder="New Password"
                  #newpassword
                />
                <label class="fieldlabels">Confirm Password:</label>
                <input
                  type="password"
                  name="confirmpassword"
                  placeholder="Confirm Password"
                  #confirmpassword
                />
              </div>
              <input
                type="button"
                name="login"
                class="action-button icon"
                value="Submit"
                (click)="submit(oldpassword.value,newpassword.value,confirmpassword.value)"
              />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  
