<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">Greenhouse Gas Services<span></span></h5>
            <p style="font-size: x-small;">Greenhouse Gas Services is an Indian multinational information technology services and consulting company headquartered in Mumbai, Maharashtra, India with its largest campus located in Chennai, Tamil Nadu, India. As of February 2021, Greenhouse Gas Services is the largest IT services company in the world by market capitalisation.</p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="https://en.wikipedia.org/wiki/Greenhouse_gas_emissions">&nbsp;GHG Services Official</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="https://ourworldindata.org/emissions-by-sector">&nbsp;GHG Services by Sectors</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Follow up<span></span></h5>
            <a href="#"> <i class="fa fa-facebook icon-color"> </i> </a>
            <a href="#"> <i class="fa fa-twitter icon-color"> </i> </a>
            <a href="#"> <i class="fa fa-youtube icon-color"> </i> </a>
          </div>
        </div>
        <br>
        <br>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Subscription<span></span></h5>
            <p>Join the mail letter for latest updates in the field of global greenhouse gas emissions.</p>
            <div class="emailfield">
              <input type="text" name="email" placeholder="Email" #emailid>
              <input class="submitbutton ripplelink icon" type="submit" value="&#xf658; Subscribe" (click)="onSubmit(emailid.value)">
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Greenhouse Gas Services © 2022. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>