<div class="container-fluid">
    <div class="container1">
       <h1>About Us</h1> 
       <div class="con1">
          <h4>Greenhouse Gas Protocol provides standards, guidance, tools and training for business and government to<br>
             measure and manage climate-warming emissions.</h4>
        </div>
   </div>
   <div class="container2">
       <div class="con2">
            <h2> What is GHG Protocol?</h2>
            <p>
                GHG Protocol establishes comprehensive global standardized frameworks to measure and manage greenhouse gas (GHG) emissions from private and public sector operations, value chains and mitigation actions.
            </p>
            <p>
                Building on a 20-year partnership between World Resources Institute (WRI) and the World Business Council for Sustainable Development (WBCSD), GHG Protocol works with governments, industry associations, NGOs, businesses and other organizations.
            </p>
            <p>
                We offer online training on our standards and tools, as well as the “Built on GHG Protocol” review service, which recognizes sector guidance, product rules and tools that are in conformance with GHG Protocol standards.
            </p>
         </div>
         <div class="con3">
             <h4>For media inquires, please contact:</h4>
                <p>Mollie Freeman</p>
                <p>Social Media Specialist </p>
                <p>World Resources Institute </p>
                <p>Mollie.Freeman@wri.org  </p>
         </div>
         <div class="con4">
             <h2>Who Uses GHG Protocol?</h2>
             <p>
                GHG Protocol supplies the world's most widely used greenhouse gas accounting standards. The Corporate Accounting and Reporting Standard provides the accounting platform for virtually every corporate GHG reporting program in the world.
             </p>
             
                 <h4>Companies and Organizations</h4>
              <p>
                 In 2016, 92% of Fortune 500 companies responding to the CDP used GHG Protocol directly or indirectly through a program based on GHG Protocol. 
              </p>

            <a href="#">
                Learn more about our work for companies and organizations. 

            </a>
            <h4>Countries and Cities</h4>
            <p>
                Through their commitment to the Compact of Mayors, hundreds of cities across the globe have committed to using the GHG Protocol for Cities.
            </p>
            <p>
                We also work with partners in key countries to develop national GHG emissions programs based on the GHG Protocol. 
            </p>
            <a href="#"> Learn more about our work for cities and countries .</a>
         </div>
         <div class="con5">
             <h2>History of GHG Protocol</h2>
             <p>
                GHG Protocol arose when WRI and WBCSD recognized the need for an international standard for corporate GHG accounting and reporting in the late 1990s. Together with large corporate partners such as BP and General Motors, in 1998 WRI published a report called, “Safe Climate, Sound Business.” It identified an action agenda to address climate change that included the need for standardized measurement of GHG emissions.
             </p>
             <p>
                 Similar initiatives were being discussed at WBCSD. In late 1997, WRI senior managers met with WBCSD officials and an agreement was reached to launch an NGO-business partnership to address standardized methods for GHG accounting. WRI and WBCSD convened a core steering group comprised of members from environmental groups (such as WWF, Pew Center on Global Climate Change, The Energy Research Institute) and industry (such as Norsk Hydro, Tokyo Electric, Shell) to guide the multi-stakeholder standard development process.
             </p>
             <p>
                The first edition of the Corporate Standard, published in 2001, has been updated with additional guidance that clarifies how companies can measure emissions from electricity and other energy purchases, and account for emissions from throughout their value chains. GHG Protocol also developed a suite of calculation tools to assist companies in calculating their greenhouse gas emissions and measure the benefits of climate change mitigation projects.
             </p>
             <p>
                The Paris Agreement, adopted within the United Nations Framework Convention on Climate Change (UNFCC) in December 2015, commits participating all countries to limit global temperature rise, adapt to changes already occurring, and regularly increase efforts over time. GHG Protocol is developing standards, tools and online training that helps countries and cities track progress towards their climate goals.
             </p>

         </div>
   </div>
</div>