.container-fluid{
    width:100%;
    padding-left: 0px;
    padding-right: 0px;

}
.container1{
    height:370px;
    width:auto;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    font-size: large;

}
h1{
    
    padding-top: 10%;
    margin-left: 150px;
    
    font-family: 'Lato', sans-serif;
}
.con1{
    
    margin-left: 150px;
   
    font-family: 'Cormorant Garamond', serif;
    text-align:justify;
    line-height:150%;
    font-size: x-large;
    
}
.container2{
    width: auto;
    height: 1800px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.con2{
    float:left;
    margin-left:14%;
    padding-top:4%;
    height:380px;
    width:600px;
    text-align:justify;
    font-family: 'Lato', sans-serif;

    


}
.con3{
    float:right;
    margin-right:10%;
    padding-top:4%;
    height:200px;
    width:300px;
    text-align:justify;
    font-family: 'Lato', sans-serif;
    line-height:150%;

}
.con4{
    float:left;
    margin-left:14%;
    height:550px;
    width:600px;
    text-align:justify;
    font-family: 'Lato', sans-serif;
    line-height:150%;
    padding-top: 2%;

}
.con5{
    float:left;
    margin-left:14%;
    height:450px;
    width:600px;
    text-align:justify;
    font-family: 'Lato', sans-serif;
    line-height:150%;
}
a{
    color: red;
    text-decoration:none;
    font-size: large;
    font-family: 'Lato', sans-serif;
}
