/* You can add global styles to this file, and also import other style files */
/* :root {
  --accent-color: #673ab7;
  --accent-color-hover: #311b92;
} */

:root {
  --accent-color: #3e7c64;
  --accent-color-hover: #0d724b;
}
