<div class="container-fluid">
    <div class="con1">
        <h1>We set the standards to measure and manage emissions</h1>
    </div>
    <div class="con2">
        <h2>More than 9 out of 10 Fortune 500 companies reporting to CDP use GHG Protocol.</h2>
    </div>
    <div class="con3">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                  <div class="card-body1">
                    <h2 class="card-title">Corporate Value Chain (Scope 3) Standard Online Course</h2>
                    <p class="card-text">This convenient, self-paced course teaches business professionals how to account for emissions throughout their value chain.</p>
                    <button class="button">Learn More</button>
                  </div>
                </div>
              </div>
        <div class="col-sm-6">
            <div class="card" style="width:25 rem;">
                <div class="card-body2">
                  <h5 class="card-title">Standards</h5>
                  <p class="card-text1">GHG Protocol supplies the world's most widely used greenhouse gas accounting standards.</p>
                  <button class="button">Learn More</button>
                </div>
              </div>
              
              <div class="card text1" style="width: 25 rem;">
                <div class="card-body2">
                  <h5 class="card-title">Tools</h5>
                  <p class="card-text1">Our tools enable companies to develop comprehensive and reliable inventories of their GHG emissions.</p>
                  <button class="button">Learn More</button>
                </div>
              </div>
              
              <div class="card text-right" style="width: 25 rem;">
                <div class="card-body2">
                  <h5 class="card-title">Courses</h5>
                  <p class="card-text1">We offer multiple online learning solutions on the world's most widely used GHG accounting standards.</p>
                  <button class="button">Learn More</button>
                </div>
              </div>
        </div>
      </div>

    </div>
    
</div>